{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center" >Giftver</h1>
	<h2>Exchange Participants</h2>

	{% if participants|length < 1 %}
	<h4 style="text-align: center">Add your first participant!</h4>
	{% else %}
	<div class="table-container">
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
			{% for participant in participants %}
			<tr>
				<td>{{ participant.name }}</td>
				<td>{{ participant.content }}</td>
				<td>
					<div class="action-buttons">
						<div>
							<a href="/delete/{{participant.id}}" class="btn btn-danger">Remove from Exchange</a>
						</div>
						<div>
							<a href="/update/{{participant.id}}" class="btn btn-primary">Edit Participant</a>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
	<form action="/start_gift_exchange" method="GET">
		<div class="form-group">
            <a href="/add_participant" class="btn btn-primary">Add Participant</a>
			<button type="submit" class="btn btn-primary start-button">Start Gift Exchange</button>
		</div>
	</form>
</div>
{% endblock %}